body{
  background-image: url("https://c02.purpledshub.com/uploads/sites/48/2023/02/why-sky-blue-2db86ae.jpg?w=1029&webp=1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}